@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 600px){
    span{
        text-align: center;
        color: #B384F9;
        width: 100vw;
        height: 10px;
        padding: 10px 0px 18px 0px;
        text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.534);
    }
    #btnmenu{
        display: block;
        font-size: 35px;
        color: #B384F9;
        margin: -2.5px 0px 0px 45px;
    }
    span:hover{
        color: black;
        cursor: pointer;
    }
    h1{
        width: 100px;
        height: 28px;

        a{
            height: 28px;
        }
    }
    menu{
        .itens{
            width: 400px;
            flex-direction: column;
            padding: 0px;
            margin: 20px 0px 0px -85px;
            display: none;
            flex-direction: column;

            a{
            display: flex;
            width: 100;
            text-align: center;
            border-top: 1px solid black;
            justify-content: center;
            margin: 0px 0px 0px 0px;
            }
            a:hover{
                background-color: #c5c5c59a;
            }
        }
    }

    section{
        background: url(../assets/fundo.png) no-repeat bottom left / cover;
        
    
        h1{
            font-size: 40px;
            margin: -100px 0px 0px -230px;
        }
    }
}
