@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
body{
    background-color: #0D1117;  
    overflow-x: hidden;
}
section{
    width: 100vw;
}
article ul li{
    font-size: 24px;
}
h3{
    font-size: 32px;
}
.textdecol{
    color: rgb(134, 134, 134);
}
header{
    width: 95%;
    background-color: #808080;
    border-radius: 30px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    padding: 5px 7px 0px 7px;
    justify-content: space-between;

    span#btnmenu{
        display: none;
    }

    menu{
        span{
            display: none;
        }
    }
    a img{
        width: 80px;
        height: 50px;
        padding: 0px 0px 0px 15px;
        margin: 0px 0px 0px 10px;
        letter-spacing: 8px;
        text-decoration: none;
    }
    
    nav{
        width: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-right: 20px;
        float: left;
        margin-top: 5px;

        a{
            color: rgb(255, 255, 255);
            text-decoration: none;
            padding: 7px;
            font-size: larger;
        }
        a:hover{
            cursor: pointer;
            background-color: #c5c5c59a;
            padding: 9px;
            border-radius: 15px;
            color: rgb(255, 255, 255);
            transition: .5s;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.245);
            transform: translateY(-2px);
        }
    }
    
}
section{
    width: 84vw;
    height:100vh;
    background: url(../assets/fundo.png) no-repeat center bottom / cover;
    margin: auto;
    margin-top: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    h1{
        text-indent: 225px;
        font: bold 5.5em cursive, sans-serif;
        margin-top: -150px;
    }

    p{
        width: 600px;
        margin: 15px 0px 0px 230px;
        font-size: 32px;
        color: rgb(162, 162, 162);
    }
}
#about{
    width: 84vw;
    height: 1471px;
    background: url(../assets/Container.png) no-repeat left bottom / cover;
    margin: auto;
    display: flex;
    flex-direction: column;

    h2 {
        margin: 5px 0px 0px 150px;
        color: #56D364;
        font-size: 48px;
    }

    p {
        width: 900px;
        color: white;
        margin: 38px 0px 0px 150px;
        font-size: 32px;

        .fontc{
            font-size: 32px;
            color: #56D364;
            text-decoration: none;
            cursor: text;
        }
    }

    article{
        width: 1280;
        height: 600px;
        margin: auto;
        margin-top: 100px;
        border-radius: 15px;
        color: white;
        padding: 30px;
        box-shadow: -0.5px -0.5px 0.5px rgba(255, 255, 255, 0.14);
        background-color: #161B22;

        p:first-of-type{
            padding-top: 50px;
        }

        p{
            margin: 15px 60px 0px 80px;
            padding-bottom: 45px;
            font-size: 24px;
            text-indent: 40px;
        }
    }
    .ab2{
        width: 835px;
        height: 460px;
        margin: auto;
        border-radius: 15px;
        color: white;
        padding: 30px;
        box-shadow: -0.5px -0.5px 0.5px rgba(255, 255, 255, 0.14);
        margin-left: 450px;
        transform: translateY(-140px);
        
        p:first-of-type{
            padding-top: 60px;
        }
        p{
            width: 690px;
            margin: auto;
            font-size: 24px;
            text-indent: 40px;
        }
    }
}
#projects{
    width: 84vw;
    height: 3050px;
    background: url(../assets/projects.png) no-repeat center center / cover;
    margin: auto;
    display: flex;
    flex-direction: column;

    h2{
        color: #EC6547;
        margin: -304px 0px 0px 150px;
        font-size: 48px;
    }
    article{
        background-color: #161B22;
        border-radius: 15px;    
        box-shadow: -0.5px -0.5px 0.5px rgba(255, 255, 255, 0.14);
        color: white;
    }
    .pr1{
        width: 1110;
        height: 500px;
        margin: 40px 0px 0px 175px;
        border-radius: 15px;
        color: white;
        padding: 30px 50px 50px 50px;

        h3{
            color: #EC6547;
            margin: 20px 0px 10px 30px;
            font-size: 32px;
        }

        ul li{
            font-size: 24px;
            margin: 30px 0px 15px 50px;
        }
    }
}
article#pr2{
    width: 660px;
    height: 480px;
    padding-bottom: 20px;
    margin: -40px 0px 0px 65px;

    div{
        width: 580px;
        height: 327px;
        border-radius: 10px;
        margin: auto;
        margin-top: 30px;
    }
    iframe{
        border-radius: 15px;
    }
    p{
        padding-top: 22px; 
    }
    p a{
        color: #EC6547;
        margin: 30px 0px 0px -180px;
        font-size: 20px;
        text-decoration: none;
    }
    a:hover{
        color: rgba(255, 255, 255, 0.504);
        text-decoration: underline;
        transition: .8s;
    }
}
article#pr3{
    width: 500px;
    height: 640px;
    margin: -320px 0px 0px 790px;

    h3{
        color: #EC6547;
        padding: 40px 20px 20px 45px;
    } 

    ul{
        width: 485px;
        height: 485px;
        padding: 20px 30px 30px 80px;
    }
}
article#pr4{
    width: 584px;
    height: 700px;
    margin: -220px 0px 0px 140px;

    h3{
        color: #EC6547;
        padding: 30px 20px 20px 45px;
    }

    ul{
        width: 530px;
        height: 567px;
        padding: 10px 30px 0px 80px;
    }
}
article#pr5{
    width: 1093px;
    height: 408px;
    margin: 50px 0px 0px 70px;
    padding-bottom: 40px;

    h3{
        color: #EC6547;
        padding: 50px 20px 30px 70px;
    }

    ul{
        width: 1050px;
        padding: 20px 30px 30px 100px;
    }
}
article#pr6{
    width: 502px;
    height: 433px;
    margin: -760px 0px 0px 790px;
    padding-bottom: 30px;

    div{
        width: 90%;
        height: 280px;
        border-radius: 10px;
        margin: auto;
        margin-top: 5%;
    }
    iframe{
        border-radius: 15px;
    }
    p{
        padding-top: 22px; 
    }
    p a{
        color: #EC6547;
        margin: 30px 0px 0px -180px;
        font-size: 20px;
        text-decoration: none;
    }
    a:hover{
        color: rgba(255, 255, 255, 0.504);
        text-decoration: underline;
        transition: .8s;
    }
}
article#pr7{
    width: 1200px;
    padding-bottom: 50px;
    margin: 420px 0px 80px 70px;

    h3{
        color: #EC6547;
        padding: 30px;
        text-align: center;  
    }

    aside{
        width: 1100px;
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .skils{
            width: 100px;
            height: 100px;
            border-radius: 15px;
            border: 1px dotted rgba(126, 126, 126, 0.589);
            background: url(../assets/question.png) no-repeat center center / cover;
        }
        img{
            width: 100px;
            height: 100px;
        }
        #css img{
            width: 112px;
            height: 112px;
            transform: translateY(-7px);
        }
        .anime:hover{
            transform: translateY(-8px);
        }
    }
}
#contact{
    width: 1400px;
    height: 515px;
    background: url(../assets/Contact.png) no-repeat center center / cover;
    padding-right: -50px;
    margin: -261px 0px 25px 100px;
    display: flex;
    flex-direction: column;

    h2{
        color: #939aff;
        font-size: 48px;
        margin: 0px 0px 0px 120px;
    }

    p{
        width: 955px;
        color: #f9f9f9;
        font-size: 32px;
        margin: 40px 0px 0px 120px;
    }

    #colorp{
        color: #939aff;
        font-size: 32px;
        text-decoration: none;
        cursor: text;
    }
}
footer{
    width: 100%;
    height: 546px;
    background-image: url(../assets/footer.png);
    display: flex;

    a{
        margin-left: 300px;
        align-content: center;    
    }

    #icone{
        margin-left: 550px;
    }
}
#topo{
    position: fixed;
    bottom: 5%;
    right: 2.5%;
    color: white;
    padding: 10px 10px 5px 10px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;

    img{
        width: 50px;
        height: 50px;
        opacity: 0.3;
    }
}